version: '2'
services:
  endpoint:
    build: .
    command: ./node_modules/.bin/ava --watch
    environment:
      NODE_ENV: development
    volumes:
      - .:/home/app
      - /home/app/node_modules
